<p>As-salamu alaykum,</p>
<p>Thank you for joining Muhasabah. Please confirm your email to begin syncing across your devices:</p>
<p><a href="{{link}}">Confirm email</a></p>
<p>If you did not create an account, you can ignore this message.</p>
<p>Barak Allahu feek,<br/>Muhasabah</p>
